body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: pink;
}
.home-page h1 {
  text-align: center;
  color: purple;
}
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links a {
  color: white;
  background-color: red;
  font-size: 2em;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 15px;
  text-decoration: none;
}
.links .top {
  margin-top: 100px;
}
.celebrities {
  color: white;
}
.celebrities .creat {
  display: flex;
  justify-content: center;
}
.celebrities .creat a {
  text-decoration: none;
  background-color: red;
  font-size: 1.5em;
  border-radius: 15px;
  padding: 10px 15px;
  margin-bottom: 30px;
}
.celebrities a {
  color: white;
}
.celebrity {
  margin-top: 30px;
  background-color: red;
  border-radius: 15px;
  width: 30%;
  display: inline-block;
  margin-left: 30px;
}
.celebrity h3,
a {
  padding: 30px 10px 0px 10px;
  text-decoration: none;
  text-align: center;
}
.celebrity a {
  text-decoration: none;
}

.new h2 {
  color: purple;
  text-align: center;
}
.new form {
  margin-top: 50px;
}
.new form label {
  font-size: 2em;
  color: white;
}
.new form input {
  border-color: white;
  padding: 8px;
}
.new form button {
  background-color: red;
  color: white;
  padding: 20px;
  border-radius: 10px;
  border-color: red;
  margin: 40px auto;
  display: block;
}
.detail {
  padding: 50px;
  background-color: red;
  border-radius: 25px;
  width: 40%;
  margin: 100px auto;
  text-align: center;
}
.detail h3,
h4,
h5 {
  color: white;
}
.detail a {
  text-decoration: none;
  background-color: pink;
  font-size: 1em;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
}
.detail form input {
  background-color: pink;
  font-size: 1em;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
  margin-top: 20px;
  border-color: pink;
}
.new-btn {
  background-color: red;
  font-size: 1.5em;
  color: white;
  padding: 40px;
  border-radius: 10px;
  border-color: red;
  margin: 40px auto;
  display: block;
  width: 10%;
}
