<div class="celebrities">
  <div class="creat">
    <a href="/movies/create">Create new movie</a>
  </div>
  {{#each movies}}
    <div class="celebrity">

      <h3> <a href="/movies/{{id}}"> {{title}}</a></h3>

      <br />
      <br />

    </div>
  {{/each}}

</div>